/* Product Section ===================================================================================================================================================== */
#product {
  background-color: var(--main-color-2);
  display: flex;
  justify-content: center; /* Centering prodSection */
}

.prodSection {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 2em;
  width: 100%;
  align-content: center;
  background-color: #e8dccc;
  padding: 4vw;
}

.card {
  font-family: "Yeseva One", serif;
  color: #000000;
  background-color: #f3eeea;
  position: relative;
  width: 15rem;
  height: 18rem;
  border-radius: 25px;

  transition: ease-in-out 0.4s;
}

.card a {
  text-decoration: none;
  color: #000000;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px;
}

.image {
  width: 15rem;
  height: 50%;
  top: 0px;
  border-radius: 25px;
}

.image img {
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 10px 10px 22px;
}

.price {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  font-size: 1.1em;
  padding-left: 22px;
}

.addBtn {
  padding-right: 22px;
  border: none;
  color: #8c182d;
  cursor: pointer;
}

.addBtn img {
  position: absolute;
  bottom: 10px;
  right: 25px;
  max-width: 15%;
  max-height: 15%;
  object-fit: cover;
}

.addBtn:hover {
  color: #6a1223;
}
