.prodCheckoutListing {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.prodCheckoutListing hr {
  width: 100%;
  background-color: black;
}

.prodCheckoutListing h1 {
  font-family: "Yeseva One", serif;
  color: var(--cta-color);
}

.prodCheckoutListing a {
  width: 45%;
}

.prodCheckoutListing .checkoutBtn {
  width: 100%;
  padding: 0.8rem 0;
  margin: 40px;
  background-color: var(--cta-color);
  font-family: "Yeseva One", serif;
  color: #fff;
  border-radius: 10px;
  border-style: none;
}

.itemRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 15px;
}

.bItemDetailContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.checkoutListBody {
  width: 100%;
}

.bItemTitlePrice {
  width: 60%;
}

.bItemDetailContainer,
.bItemActionCount,
.totalPrice {
  margin-left: 20px;
  margin-right: 20px;
}

.totalPrice {
  color: var(--cta-color);
}

.bItemImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-style: solid;
  border-width: 5px;
  border-color: #fff;
}

.bItemDetailContainer {
  width: 70%;
}

.bItemActionCount {
  width: 30%;
  max-width: 30%;
  display: flex;
  flex-direction: row;
}

.bItemActionCount .bItemCount {
  max-width: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

#subTotalDisplay {
  font-family: "Yeseva One", serif;
  font-size: 1.2em;
  margin: 30px;
  display: flex;
  align-self: flex-end;
}

@media (max-width: 839px) {
  .prodCheckoutListing {
    width: 90%;
  }
}

@media (max-width: 630px) {
  .bItemImageContainer {
    margin-right: 40px;
  }

  .bItemDetailContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }

  .bItemDetailContainer > .bItemTitlePrice > .bItemPrice {
    display: none;
  }

  .totalPrice {
    margin-top: 10px;
    color: var(--cta-color);
  }

  .bItemTitlePrice {
    width: 100%;
    margin-bottom: 10px;
  }

  .bItemDetailContainer,
  .bItemActionCount,
  .totalPrice {
    margin-left: 0px;
    margin-right: 0px;
  }
}
