/* Payment Form ======================================================================================================================================================== */
.customerPaymentInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customerPaymentInfo h3 {
  font-size: 2em;
}

.contactForm,
.deliveryForm,
.paymentForm {
  width: 40%;
  height: auto;
  margin: 2em;
}

.deliveryForm .nameInfo,
.deliveryForm .otherInfo,
.paymentForm .expSec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.nameInfo {
  width: 100%;
}
.nameInfo input {
  width: 50%;
}

.otherInfo {
  width: 100%;
}
.otherInfo input {
  width: 50%;
}

.expSec {
  width: 100%;
}
.expSec input {
  width: 50%;
}

.customerPaymentInfo input,
.customerPaymentInfo select {
  padding: 0.6em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  width: 49%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3em;
  border-color: var(--logo-color);
  background-color: var(--body-color);
  border-radius: 10px;
}

.contactForm input,
.deliveryForm #residingCountry,
.deliveryForm #addr,
.paymentForm #cardNo,
.paymentForm #cardName {
  width: 100%;
}

.paymentLinkContainer {
  width: 45%;
}

.paymentBtn {
  width: 100%;
  background-color: #8c182d;
  color: #ffffff;
  font-family: "Yeseva One", serif;
  padding: 1.2em 2em;
  margin: 1.5em;
  border-radius: 15px;
  border-style: none;
  stroke: none;
}

input.error {
  border-color: red;
}
input.success {
  border-color: green;
}

input.error::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}
input.error::-ms-input-placeholder {
  /* Edge 12-18 */
  color: red;
}

/* Responsivity ======================================================================================================================================================== */

@media (max-width: 590px) {
  .contactForm,
  .deliveryForm,
  .paymentForm,
  .paymentBtn {
    width: 90%;
  }
}
