:root {
  --body-color: #ece3da;
  --cta-color: #8c182d;
  --main-color-1: #f3eeea;
  --main-color-2: #e8dccc;
  --logo-color: #7b5946;

  --bar-width: 40px;
  --bar-height: 4px;

  /* calc height of hamburger icon */
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --hamburger-gap: 6px;
  --hamburger-margin: 20px;
  --animation-timing: 200ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--body-color);
}

/* Navbar ============================================================================================================================================================== */
#navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 5%;
  background: var(--main-color-1);
  font-family: "Yeseva One", serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  color: var(--logo-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}
.logo > h1 {
  font-size: 1.4rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3em;
}
.logo > small {
  font-size: 0.65rem;
}

.navLinks a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 2.5rem;
}

.shoppingIconContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoppingIconContainer > #shoppingBagIcon {
  font-size: 30px;
}
.shoppingIconContainer > #bagNotifier {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--cta-color);
  transform: translate(-50%, -50%);

  display: none;
}

.shoppingIconContainer > #bagNotifier.active {
  display: block;
}

/* Formatting Hamburger Icon =========================================================================================================================================== */

.hamburger-menu {
  position: absolute;
  width: max-content;
  gap: var(--hamburger-gap);
  top: var(--hamburger-margin);
  margin-top: var(--hamburger-margin);
  right: 5%;
  font-size: 2.8rem;
  cursor: pointer;

  /* Format the cross */
  /*  Using trigo to calc the length for the cross using hypotenus (hamburger height * sqrt(2)) */
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  /* End of formatting cross */

  z-index: 102;
  cursor: pointer;
  display: none;
}
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  box-sizing: border-box;

  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--logo-color);
  border-radius: 16px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}
.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
/* If hamburger menu have its input checked, select the before element of hamburger menu */
.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);

  /* Need offset due to bar thickness (not factored in when calculating) */
  translate: 0 calc(var(--bar-height) / -2);
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);

  /* Need offset due to bar thickness (not factored in when calculating) */
  translate: 0 calc(var(--bar-height) / 2);
}
.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

/* ###################################################################################################################################### */
/* Bag pop up */
.pop-up {
  width: 100%;
  height: 100%;
  color: #000000;
  background-color: rgba(243, 238, 234, 0.95);
  font-family: "Yeseva One", serif;
  position: sticky;
  padding: 2em;
  top: 70px;
  z-index: 200;

  display: none;
}

.pop-up p {
  font-size: 1.2em;
  padding-top: 2em;
}

.pop-up .review-btn {
  font-size: 0.9em;
  background-color: #8c182d;
  border-radius: 10px;
  border-style: none;
  color: #ffffff;
  font-family: "Yeseva One", serif;
  position: absolute;
  top: 2.1em;
  right: 3em;
  padding: 0.8em;
}

.pop-up .review-btn:hover {
  background-color: #6a1223;
}

.pop-up.active {
  display: flex;
  flex-direction: column;
}

/* Pop Up Bag ========================================================================================================================================================== */
.popUpList {
  list-style: none;
  margin: 0;
}

.popUpList .itemCard {
  padding: 1em;
  display: flex;
}

.popUpList .itemImageContainer,
.itemDetailContainer {
  display: inline-block;
  justify-self: center;
}

.itemImageContainer {
  padding-right: 1em;
}

.popUpList .itemImg {
  width: 3em;
  height: 3em;
}

.popUpList .actionCount {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.popUpList .itemCount {
  color: #242424;
  font-family: "Josefin Sans";
  font-size: 18px;
  padding: 0 15px;
  display: flex;
}
.popUpList .delBtn,
.popUpList .addItemBtnBag {
  color: var(--logo-color);
  display: flex;
}

.pop-up .moreItemDetail {
  color: #000000;
  font-family: "Josefin Sans";
  font-size: small;
  padding: 0;
}

/* Landing Page banner ================================================================================================================================================= */
#banner {
  position: relative;
  text-align: center;
  color: #ffffff;
  font-family: "Yeseva One", serif;
  font-size: 2.5vw;
}

.landingBanner .darken-img {
  filter: brightness(55%);
  width: 100%;
  height: 445px;
  position: relative;
  object-fit: cover;
}

.captionCta {
  position: absolute;
  top: 45%;
  left: 10%;
}
.captionCta h2 {
  margin-bottom: 0.4rem;
}
.captionCta button {
  background-color: #8c182d;
  padding: 1.2vw 2vw;
  border-radius: 15px;
  border-style: none;
  stroke: none;
  display: block;
}
.captionCta > button > a {
  color: #fff;
  font-size: 1.6vw;
  font-family: "Yeseva One", serif;
  text-decoration: none;
}

/* Philosophy Banner =================================================================================================================================================== */
.philoBanner-container {
  position: relative;
  text-align: center;
  color: #000000;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  height: 234px;
}

.philoBanner-container .darken-img {
  filter: brightness(85%);
  width: 100%;
  height: 234px;
  object-fit: cover;
  position: relative;
}

.philoBanner-container .text {
  font-weight: bold;
  text-align: left;
  padding: 2em; /* This will help to center text vertically */

  /* All these are for aligning the text box on the image */
  top: 15%;
  right: 10%;
  position: absolute;
  display: block;
  margin-top: 4px;

  /* This is to design the text box */
  background-color: rgb(243, 238, 234, 0.8);
  border-radius: 25px;
  width: 306px;
  height: 156px;
}

.philoBanner-container .text br {
  content: ""; /* The content CSS property replaces an element with a generated value. */
  margin-top: 1.2em;
  display: block;
}

.philoBanner-container .text span {
  font-family: "Yeseva One", serif;
  font-size: 1.5em;
}

/* MC Profile ========================================================================================================================================================== */
.aboutMC {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  padding: 100px;
}

.MC-profileContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}
.MC-profileContainer .MC-img {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.MC-desc {
  width: 50%;
  padding-left: 3vw;
  font-family: "Josefin Sans", sans-serif;
}
.MC-desc h2 {
  font-family: "Yeseva One", serif;
  font-size: 30px;
}
.MC-desc p {
  font-size: 20px;
  padding-top: 50px;
  justify-content: center;
}

/* Footer ============================================================================================================================================================== */
.footer {
  background-color: var(--main-color-1);
  padding: 70px 0;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  padding: 0 40px;
}

.footer-col h4 {
  font-size: 18px;
  color: #000000;
  font-family: "Yeseva One", serif;
  margin-bottom: 30px;
  position: relative;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col > ul > li > a,
.footer-col > ul > li {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  display: block;
  transition: all 0.3s ease;
  padding-bottom: 0.3em;
}
.footer-col > ul > li > a:hover {
  color: var(--cta-color);
}

ul {
  list-style: none;
}

/* Product Section ===================================================================================================================== */
#product {
  background-color: var(--main-color-2);
  display: flex;
  justify-content: center; /* Centering prodSection */
}

.prodSection {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 2em;
  width: 100%;
  align-content: center;
  background-color: #e8dccc;
  padding: 4vw;
}

.card {
  font-family: "Yeseva One", serif;
  color: #000000;
  background-color: #f3eeea;
  position: relative;
  width: 15rem;
  height: 18rem;
  border-radius: 25px;
  display: inline-block;

  transition: ease-in-out 0.4s;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px;
}

.image {
  width: 15rem;
  height: 50%;
  top: 0px;
  border-radius: 25px;
}

.image img {
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1.2em;
  padding: 10px 10px 10px 22px;
}

.price {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  font-size: 1.1em;
  padding-left: 22px;
}

.addBtn {
  padding-right: 22px;
  border: none;
  color: #8c182d;
  cursor: pointer;
}

.addBtn img {
  position: absolute;
  bottom: 5px;
  right: 25px;
  max-width: 25%;
  max-height: 25%;
  object-fit: cover;
}

.addBtn:hover {
  color: #6a1223;
}

/* Responsivity ======================================================================================================================================================== */
@media (max-width: 992px) {
  #navbar {
    padding: 1.3rem 5%;
  }
  #banner {
    font-size: 2.6vw;
  }
  .footer-col {
    width: 50%;
    padding: 0 40px;
    margin-bottom: 30px;
  }
}

@media (max-width: 839px) {
  .hamburger-menu {
    display: inline-flex;
  }
  .hamburger-menu:has(input:checked) + .navLinks {
    height: 17.7rem;
  }

  .navLinks {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--main-color-1);
    transition: 0.3s ease;
    overflow: hidden;
  }
  .navLinks a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
  }

  .shoppingIconContainer {
    position: relative;
    display: inline-flex;
  }

  #shoppingBagIcon {
    position: absolute;
    right: 72px;
    top: 0px;
    transform: translate(-50%, -50%);
  }

  #bagNotifier {
    position: absolute;
    top: -10px;
    right: 70px;
    transform: translate(-50%, -50%);
  }

  #banner {
    font-size: 4vw;
  }
  .captionCta {
    position: absolute;
    top: 40%;
    left: 10%;
  }
  .captionCta button {
    position: absolute;
    background-color: #8c182d;
    padding: 4vw 4vw;
    margin-top: 2em;
    border-radius: 15px;
    border-style: none;
    stroke: none;
    display: flex;
    left: 33%;
  }
  .captionCta > button > a {
    color: #fff;
    font-size: 4vw;
    font-family: "Yeseva One", serif;
    text-decoration: none;
  }

  .aboutMC {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .MC-profileContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .MC-desc {
    width: 100%;
    padding-top: 2em;
    padding-left: 10px;
    font-family: "Josefin Sans", sans-serif;
  }
}

@media (max-width: 590px) {
  .footer-col {
    width: 100%;
    margin-bottom: 40px;
  }

  .popUpList {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .logo h1 {
    font-size: 1.2em;
  }
}
